# API Requests
requests>=2.31.0

# Data Manipulation & Timezones
numpy>=1.26.0
pandas>=2.1.0
pytz>=2023.3
pyarrow>=14.0.0  # Required by pandas for .parquet file operations

# Visualization
altair>=5.1.0

# Environment Variables
python-dotenv>=1.0.0